<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
      <link rel="stylesheet" type="text/css" href="../styles/index.css">
      <link rel="stylesheet" type="text/css"  href="../styles/module.css">
      <link rel="stylesheet" type="text/css"  href="../styles/base.css">
      <link rel="stylesheet" type="text/css"  href="../styles/formStyle.css">
     <link rel="stylesheet" type="text/css" href="../styles/default.css">
       <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    
    <title>New Post</title>
  </head>
  <body>
    <section>
      <header>
        <h1>Create Post</h1>
      </header>
    </section>

      <main>
        <section id="preview">
        <form id="submitPost" method="submit">

          <fieldset>
          <legend>Create a New Blog Post</legend>
          <span class="formElement">
          <label>Title:</label>
          <input id="title" type="text" name="title" required><br>
          </span>
          <label>Category: </label>
          <input id="category" type="text" name="category" required><br>
          <label>Author: </label>
          <input id="author" type="text" name="author" required><br>
          <label>Website: </label>
          <input id="authorUrl" type="url" name="authorUrl" required><br>
          <label>Body: </label>
          <textarea id="body" rows="4" columns="30" name="body" required></textarea><br>
          <input type="submit" id="savePost" class="savePost" name="savePost" value="Submit"/>
          </fieldset>
        </form>
          </section>
<script id="articleTemplate" type="text/x-handlebars-template">
          <section >
            <article >
              {{newpost}}
              <h1 class="title">{{title}}</h1>
              <h5  >By <a href=""+ {{authorUrl}}+"">{{author}}</a> about {{publishedOn}} days ago</h5>
              <h6 class=category>{{category}}</h6>
              <section class="body">{{{body}}}</section>

            </article>

          </section>
          </script>
      </main>

    <section id="jsonView">
      <footer>
        <h3>JSON: </h3>
      </footer>
    </section>
  </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script type="text/javascript" src="../scripts/secretSauce.js"></script>



</html>
