<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
        <link rel="stylesheet" type="text/css"  href="../styles/base.css">
      <link rel="stylesheet" type="text/css" href="../styles/index.css">
      <link rel="stylesheet" type="text/css"  href="../styles/module.css">

      <link rel="stylesheet" type="text/css"  href="../styles/formStyle.css">
     <link rel="stylesheet" type="text/css" href="../styles/default.css">
       <script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>

    <title>New Post</title>
  </head>
  <body>
    <section>
      <header>
        <h1>Create Post</h1>
      </header>
    </section>

      <main>
        <section >
        <form id="submitPost" method="submit">

          <fieldset>
          <legend>Create a New Blog Post</legend>

          <label>Title:
          <input id="title" type="text" name="title" placeholder="Title" required>
          </label>
          <br>
          <label>Category:
          <input id="category" type="text" name="category" placeholder="Category" required>
          </label>
          <br>
          <label>Author:
          <input id="author" type="text" name="author" placeholder="Author" required>
          </label>
          <br>
          <label>Website:
          <input id="authorUrl" type="url" name="authorUrl" placeholder="Author Website" required>
          </label>
          <br>
          <label>Body:
          <textarea id="body" rows="4" columns="30" name="body" placeholder="Blog Content" required></textarea><br>

          <input type="submit" id="savePost" class="savePost" name="savePost" value="Submit"/>
          </label>
          </fieldset>
        </form>
          </section>

      </main>

    <section id="preview">
      </section>

      <section id="jsonView">

      </section>
      <footer>

      </footer>

  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script type="text/javascript" src="../scripts/secretSauce.js"></script>

    <script> hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript"  src="../scripts/blog.js"></script>
    <script type="text/x-handlebars-template" src="articleTemplate.hbs"></script>
    <script type="text/javascript"  src="../scripts/article.js"></script>
    <script type="text/javascript" src="../scripts/blogArticles.js"></script>
    <script type="text/javascript" src="../scripts/util.js"></script>



</html>
