/*Base Styling */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  max-width: 900px;
  width: 100%;
  margin: 25px auto;
  padding: 15px;
}

body {

  background-color: #F9E6D5;
}
a {
  color: #A07D7D;
}
a:hover {
  color: #D3C6C6;
}

img {
  max-width: 50%;
  max-height: 50%;
  padding: 2px;
}

article {
  overflow: auto;
  margin: 5px;
  border-bottom: solid black;
  padding:55px;
}
