/*Desktop-Laptop view styles for navbar */
@media screen and (min-width: 500px) {
   .nav-tab {
     padding: 14px 16px;
    list-style: none;
    overflow: hidden;
    border: 1px solid #555;
    background-color: #D3CCC6;
  }

  .tab {
      display: inline;
      color: #A07D7D;
      text-align: left;
      padding: 14px 16px;
  }

}
