html {
  max-width: 900px;
        width: 100%;
        margin: 25px auto;
        padding: 15px;
}
img {
  max-width: 100%;
}
body{
  background-color: #A1DFE2;
}
a {
  color: #236265;
}
a:hover{
  color: #010304;
}
