@media screen and (min-width: 500px){
  .tab {
    display: inline;
  }
  .nav-tab {
    display: none;
  }
}
html {
  max-width: 900px;
  width: 100%;
  margin: 25px auto;
  padding: 15px;
}
img {
  max-width: 100%;
}
body{
  background-color: #F9E6D5;
}
a {
  color: #A07D7D;
}
a:hover{
  color: #D3C6C6;
}
.nav-tab{
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #555;
  background-color: #D3CCC6;


}
.tab {
    display: block;
    color: #A07D7D;
    text-align: left;
    justify-content: left;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
.tab:last-child{
  border-bottom: none;
}
